

.Weather{
    border: 1px solid #dadde1; 
    font-family: arial, sans-serif;
    color: rgb(135, 135, 135);
    padding:16px;
    border-radius: 4px;
}

.Weather form {
    margin-bottom: 20px;
}
    

.Weather  form .btn{
    background-color: palevioletred;
    border-color: #878787;

}

.Weather h1{
    color: #878787;
    font-size: 24px;
    font-weight: 100;
    line-height: 29px;
    margin:20px 0 0 0;
}

.Weather ul{
    margin:0;
    padding: 0;
}
.Weather li{
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
    list-style: none;
}

.Weather .weather-info {
    display: flex;
    align-items: center;
}

.Weather canvas{
    margin-right: 10px;

}
.Weather .temperature{
    font-weight: 400;
    color: rgb(33,33,33);
    font-size:64px;
    line-height: 64px;

}

.Weather .unit{
    font-weight: 400;
    color: rgb(33,33,33);
    font-size:16px;
    position: relative;
    align-self: flex-start;
    top: -32px;
    line-height: 1;

}

.WeatherTemperature a{
    text-decoration: none;
    color:palevioletred
}

.App footer a{
    color: palevioletred;
}